<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <title>Sign Up</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div>
    <div class="container text-center">
                <h3>Register</h3>
                <hr />
                <form class="form-horizontal" action="#" th:action="@{/scheduler/register}" th:object="${userDto}" method="post">
                    <div class="form-group">
                        <label class="control-label col-md-3">Username</label>
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control" name="username" th:field="*{username}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">First Name</label>
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control" name="firstName" th:field="*{firstName}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Last Name</label>
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control" name="lastName" th:field="*{lastName}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Password</label>
                        <div class="input-group col-md-6">
                            <input type="password" class="form-control" name="password" th:field="*{password}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Confirm Password</label>
                        <div class="input-group col-md-6">
                            <input type="password" class="form-control" name="matchingPassword" th:field="*{matchingPassword}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Register" />
                    </div>
                </form>
            </div>
</div>

</body>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</html>