<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Scheduler | Home</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <span th:switch="${mode}">
        <span th:case="'MODE_HOME'">
            <div class="container" id="homeDiv">
                <div class="jumbotron text-center">
                    <h1>Welcome to the Scheduler <span sec:authorize="hasRole('ROLE_USER')"><span th:text="${firstname}"></span></span></h1>
                </div>
            </div>
        </span>
        <span th:case="'MODE_EVENTS'">
            <div class="container text-center" id="eventDiv">
                <span th:if="${#lists.isEmpty(events)}">
                    <h3>None scheduled</h3>
                </span>
                <span th:if="${not #lists.isEmpty(events)}">
                    <h3>Events</h3>
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Info</th>
                                    <th>Time and Date</th>
                                    <th>Delete</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody th:each="event : ${events}">
                            <td th:text="${event.name}"></td>
                            <td th:text="${event.info}"></td>
                            <td th:text="${#dates.format(event.eventDateTime, 'MMM dd yyyy hh:mm aa')}"></td>
                            <td><a th:href="@{/scheduler/delete-event/__${event.id}__}"><span class="glyphicon glyphicon-trash"></span></a></td>
                            <td><a th:href="@{/scheduler/update-event/__${event.id}__}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tbody>
                        </table>
                    </div>
                    <h4 class="text-right"><a th:href="@{/scheduler/delete-expired-events}" onclick="return confirm('Are you sure?')">Delete expired events</a></h4>
                </span>
            </div>
        </span>
        <span th:case="'MODE_SAVE'">
            <div class="container text-center">
                <h3>Manage Event</h3>
                <hr />
                <form class="form-horizontal" action="#" th:action="@{/scheduler/save-event}" th:object="${event}" method="post">
                    <span><input type="hidden" th:field="*{id}" /></span>
                    <div class="form-group">
                        <label class="control-label col-md-3">Name</label>
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control" name="name" th:field="*{name}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Info</label>
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control" name="info" th:field="*{info}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Time and Date</label>
                        <div class="input-group date col-md-6" id="datetimepicker1">
                            <input type="text" class="form-control" name="eventDateTime" th:field="*{eventDateTime}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>
        </span>
        <span th:case="'MODE_CALENDAR'">
            <div class="container text-center">
                <h3>Find events</h3>
                <hr />
                <form class="form-horizontal" action="#" th:action="@{/scheduler/calendar-form}" th:object="${generalFormView}" method="post">
                    <div class="form-group">
                        <div class="input-group" id="datetimepicker2">
                            <input type="text" class="form-control" th:field="*{formText}" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Go" />
                    </div>
                </form>
            </div>
        </span>
    </span>

    <!--/*/ <th:block th:include="fragments/footerinc :: foot"></th:block> /*/-->

</body>

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</html>